@font-face {
  src: url("../vendor/CabinetGrotesk_Complete/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Regular.otf");
  font-family: "CabinetGrotesk";
}

.page {
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1440px;
  font-weight: 700;
  padding: 0 40px;
  margin: 0 auto;
  font-family: "CabinetGrotesk";
}

@media screen and (max-width: 600px) {
  .page__content {
    padding: 0 16px;
  }
}
