.header {
  padding: 32px 0 28px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.header__group {
  display: flex;
  align-items: center;
  line-height: 24px;
}

.header__profile-link {
  text-decoration: none;
  color: black;
}

.header__button {
  padding: 0 16px 0 0;
  margin-left: auto;
  border-style: none;
  font: inherit;
  cursor: pointer;
}

.header__el_hovered:hover {
  opacity: 60%;
  cursor: pointer;
}

.header__el_hidden {
  display: none;
}

.header__name-and-avatar {
  align-items: center;
  display: flex;
}

.header__avatar {
  padding-left: 12px;
}

.header__logo {
  padding-right: 24px;
}

.header__username {
  margin: 0;
  padding-left: 16px;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0 0 28px;
    flex-direction: column;
  }

  .header__group {
    padding: 20px 0;
    border-bottom: 2px solid;
    border-color: rgba(0, 0, 0, 0.3);
  }
}
