.modal {
  position: fixed;
  padding: 0 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  padding: 28px 28px 36px;
  background-color: #fff;
  position: relative;
  width: 100%;
  max-width: 496px;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__container-preview {
  padding: 0;
  max-width: 498px;
}

.modal__preview {
  border-radius: 16px;
  overflow: hidden;
}

.modal__preview-image {
  max-width: 100%;
}

.modal__preview-image-text-conatiner {
  display: flex;
}

.modal__preview-image-caption {
  padding: 20px 0 20px 32px;
}

.modal__preview-image-caption-text {
  margin: 0;
  padding-bottom: 12px;
}
.modal__card-delete {
  margin-left: auto;
  padding-right: 32px;
  font-size: 20px;
  color: #ff4d00;
}

.modal__card-delete:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 28px;
  right: 28px;
  border-style: none;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  padding: 8px 0 0;
  display: block;
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: #000;
}

.modal__label {
  padding-bottom: 28px;
}

.modal__radio-buttons {
  padding: 0 0 32px;
  display: flex;
  flex-direction: column;
  border-style: none;
  gap: 8px;
}

.modal__legend {
  padding-bottom: 8px;
}

.modal__radio-button {
  display: flex;
  gap: 11px;
}

.modal__radio-button_unselected {
  opacity: 50%;
}

.modal__submit {
  width: 123px;
  height: 36px;
  border-style: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.modal__submit:hover {
  opacity: 60%;
}

.modal__submit_disabled {
  opacity: 30%;
}
